<div class="hero min-h-screen">
  <div class="card flex-shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
    <%= form_with(url: log_in_path, class: 'card-body') do |f| %>
      <div class="form-control">
        <label class="label">
          <%= f.label :email, class: 'label-text' %>
        </label>
        <%= f.text_field :email, placeholder: 'email', class: 'input input-bordered' %>
      </div>
      <div class="form-control">
        <label class="label">
          <%= f.label :password, class: 'label-text' %>
        </label>
        <%= f.password_field :password, placeholder: 'password', class: 'input input-bordered' %>
      </div>
      <%= f.submit 'log in', class: 'btn btn-primary rounded-btn btn-block mt-6' %>
    <% end %>
  </div>
</div>