<div class="flex justify-center items-center w-screen h-screen bg-gray-100">
  <%= form_with(url: log_in_path, class: 'p-10 bg-white rounded flex justify-center items-center flex-col shadow-md') do |f| %>

    <div class="form-control">
      <label class="label">
        <%= f.label :email, class: 'label-text' %>
      </label>
      <%= f.text_field :email, placeholder: 'email', class: 'input input-bordered' %>
    </div>
    <div class="form-control">
      <label class="label">
        <%= f.label :password, class: 'label-text' %>
      </label>
      <%= f.password_field :password, placeholder: 'password', class: 'input input-bordered' %>
    </div>
    <%= f.submit 'log in', class: 'btn btn-ghost rounded-btn btn-block mt-6' %>
  <% end %>
</div>
