<%= form_with(model: article, class: 'p-6 card') do |form| %>
  <% if article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
        <% article.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-control">
    <label class="label">
      <%= form.label :title, class: 'label-text' %>
    </label>
    <%= form.text_field :title, placeholder: 'title', class: 'input input-bordered' %>
  </div>

  <div class="form-control mt-4">
    <label class="cursor-pointer label flex">
      <%= form.label :is_published, class: 'label-text' %>
      <div>
        <%= form.check_box :is_published, class: 'checkbox' %>
        <span class="checkbox-mark"></span>
      </div>
    </label>
  </div>

  <div class="flex justify-between my-6">
    <%= form.label :publish_date, class: 'label-text' %>
    <div class="flex justify-between">
      <%= form.date_select :publish_date %>
    </div>
  </div>

  <div class="form-control">
    <label class="label">
      <%= form.label :content, class: 'label-text' %>
    </label>
    <div>
      <%= form.text_area :content, placeholder: 'content', class: 'textarea h-60 textarea-bordered w-full' %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit class: 'btn rounded-btn btn-wide mt-6' %>
  </div>
<% end %>
