<%= form_with(model: article, class: 'p-6 card') do |form| %>
  <% if article.errors.any? %>
    <div class="alert alert-error">
      <div class="flex-1">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="mx-2 w-6 h-6 stroke-current"><!----> <!----> <!----> <!---->
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M18.364 18.364A9 9 0 005.636 5.636m12.728 12.728A9 9 0 015.636 5.636m12.728 12.728L5.636 5.636"></path> <!----> <!----> <!----> <!----> <!----> <!----> <!----> <!----> <!----> <!----> <!----> <!----> <!----> <!----> <!----> <!----> <!----> <!----> <!----> <!----> <!----> <!---->
        </svg>
        <label>
          <%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:
          <ul>
            <% article.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </label>
      </div>
    </div>

  <% end %>

  <div class="form-control">
    <label class="label">
      <%= form.label :title, class: 'label-text' %>
    </label>
    <%= form.text_field :title, placeholder: 'title', class: 'input input-bordered' %>
  </div>

  <div class="my-2 max-w-md card">
    <div class="form-control">
      <label class="cursor-pointer label">
        <%= form.label :is_published, class: 'label-text' %>
        <div>
          <%= form.check_box :is_published, class: 'toggle toggle-primary' %>
          <span class="toggle-mark"></span>
        </div>
      </label>
    </div>
  </div>

  <div class="form-control">
    <label class="label">
      <%= form.label :publish_date, class: 'label-text' %>
    </label>
    <%= form.text_field :publish_date, class: 'input input-bordered', disabled: true %>
  </div>

  <div class="form-control">
    <label class="label">
      <%= form.label :content, class: 'label-text' %>
    </label>
    <div>
      <%= form.text_area :content, placeholder: 'content', class: 'textarea h-60 textarea-bordered w-full' %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit class: 'btn rounded-btn btn-wide mt-6' %>
  </div>
<% end %>
